<!doctype html>
{% block head %}
<title>Update</title>  

<!-- bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
{% endblock %}
{% block body %}  
<div class="container mt-2">
    <form action="#" method="POST" >
        <label><b>Add Audio</b></label>
        <div class="form-group row">
          <label  class="col-lg-2 col-form-label">Audio Name</label>
          <div class="col-lg-6">
            <input type="text" class="form-control" name="audio_name" id="audioName">
          </div>
        </div>
        <div class="form-group row">
          <label  class="col-lg-2 col-form-label">Audio URL</label>
          <div class="col-lg-6">
            <input type="text" class="form-control" name="audio_url" id="audioUrl">
          </div>
        </div>
        <div class="form-group row">
            <label  class="col-lg-2 col-form-label">Image URL</label>
          <div class="col-lg-6">
            <input type="text" class="form-control" name="img_url" id="imageUrl">
          </div>
        </div>
        <div class="form-group row">
            <label  class="col-lg-2 col-form-label">Author Name</label>
          <div class="col-lg-6">
            <input type="text" class="form-control" name="author_name" id="authoName">
          </div>
        </div>
        <div class="form-group row">
            <label  class="col-lg-2 col-form-label">Google Podcast URL</label>
          <div class="col-lg-6">
            <input type="text" class="form-control" name="google_podcast_url" id="googlePodcastUrl">
          </div>
        </div>
        <div class="form-group row">
            <label  class="col-lg-2 col-form-label">Apple Podcast URL</label>
          <div class="col-lg-6">
            <input type="text" class="form-control" name="apple_podcast_url" id="applePodcastUrl">
          </div>
        </div>
        <div class="form-group row">
            <label  class="col-lg-2 col-form-label">Spotify Link</label>
          <div class="col-lg-6">
            <input type="text" class="form-control" name="spotify_url" id="spotifyLink">
          </div>
        </div>
        <div class="form-group row">
            <label  class="col-lg-2 col-form-label">Youtube Link</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="youtube_link" id="youtubeLink">
          </div>
        </div>
        <div class="form-group row">
          <label  class="col-lg-2 col-form-label">Audio Timing</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="audio_timing" id="youtubeLink">
        </div>
      </div>
        <div class="form-group row">
          <div class="col-lg-12">
            <button type="submit" value="submit" class="addAudioButton pull-right">Add Audio</button>
          </div>
        </div>
      </form>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock  %}