<html>

<head>
    {% if title %}
    <title>
        {{title}}
    </title>
    {% else %}
    <title>ஒலிபீடியா</title>
    {% endif%}
    <!-- bootstrap css -->
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<style>
    #more {
        display: none;
    }
</style>

<body>
    {% block navbar %}
    <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
        <a href="/" class="navbar-brand d-flex w-50 mr-auto"><img class="img-fluid logo_image"
                src="{{url_for('static', filename='logo-new.png')}}" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">

            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">முகப்பு</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        எங்களைப் பற்றி
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#headingOne">ஒலிபீடியாவின் நோக்கம்</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#headingTwo">ஏன் ஒலிபீடியா ?</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#headingThree">பங்களிப்பாளர்கள்</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">பங்களிக்க</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">ஒலியோடை(Podcast)</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#">தொடர்பு</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Home loading page -->
    <div class="container-fluid homeSection">
        <div class="container" style="padding: 12em 0;">
            <h4 class="home_text">ஒலிபீடியாவில் உரை கோப்புகள் பொதுவுடமை புத்தகங்கள்.ஒலி உருவாக்கம்
                செய்யப்பட்டு, இங்கு பதிவேற்றம் செய்யப்பட்டுள்ளது. அதை நீங்கள் கேட்டு மகிழலாம்.
            </h4>
        </div>
    </div>
    <!-- Home loading page end -->
    <!-- Book list start -->
    <div class="container">
        <div class="row">
            {%for audio in query.items %}
            <div class="col-lg-4">
                <div class="card bookCard">
                    <img class="card-img-top bookImage" src={{audio.image_url}} alt="Card image cap">
                    <div class="card-body bookContent">
                        <p><b>{{audio.audio_timing}}</b></p>
                        <a href={{audio.youtube_link}} target="_blank"><img class="player_icon" alt=""
                                src="{{url_for('static', filename='youtube.png')}}" /></a>
                        <a href={{audio.spotify_link}} target="_blank"><img class="player_icon"
                                src="{{url_for('static', filename='spotify.png')}}" alt="" />
                        </a>
                        <a href={{audio.google_podcast_URL}} target="_blank"><img class="player_icon"
                                src="{{url_for('static', filename='google-podcasts.svg')}}" /></a>
                        <a href={{audio.apple_podcast_URL}} target="_blank"><img class="player_icon"
                                src="{{url_for('static', filename='apple.png')}}" /></a>
    
                    </div>
                </div>
            </div>
          
            {%endfor%}
        </div>
    </div>
    <!-- booklist end -->
    <!-- pagination start -->
    <div class="container mt-5">
        <ul class="pagination">
            {% if query.has_prev %}
            <li class="page-item"><a class="page-link" href="{{ url_for('home', page_num=query.prev_num) }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span>
                {% endif %}
            </li>
    
            {% for page in query.iter_pages(left_edge=3, right_edge=3) %}
            {% if page %}
            <li class="page-item"><a class="page-link" href="{{ url_for('home', page_num=page) }}">{{ page }}</a></li>
            {% else %}
            <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>
            {% endif %}
            {% endfor %}
    
            {% if query.has_next %}
            <li class="page-item"><a class="page-link" href="{{ url_for('home', page_num=query.next_num) }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span>
                {% endif %}
        </ul>
    </div>
    
    <!-- pagination end -->
    <!-- about section start -->
    <div class="container" id="aboutus">
        <h4 class="aboutus_title">எங்களைப் பற்றி</h4>
        <div class="row">
            <div class="col-lg-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="560" height="315"
                        src="https://www.youtube.com/embed/kODBIAcUQyY" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6">

                <div id="accordion" class="myaccordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    ஒலிபீடியாவின் நோக்கம்
                                    <span class="fa-stack fa-sm">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-minus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p>ஒலிபீடியா என்பது நாட்டுடைமை மற்றும் படைப்பாக்கப் பொது உரிமையின் கீழ் உள்ள தமிழ்
                                    நூல்கள் மற்றும்
                                    விக்கிபீடியா கட்டுரைகளைத் தன்னார்வலர்கள் மூலம் ஒலி வடிவமாக மாற்றும் ஒரு சிறு
                                    முயற்சி.அவ்வாறு உருவாக்கப்படும் ஒலிப்புத்தகங்கள் அனைத்தும்
                                    படைப்பாக்கப் பொது உரிமையின் கீழ் யாவர்க்கும் எந்த கட்டுப்பாடுமின்றி கிடைக்கச்
                                    செய்வதே.
                                    பார்வையற்றவர்களுக்கு இந்த ஒலிப் புத்தகங்கள் பேருதவியாக இருக்கும். நாமும்
                                    ஒலிப்புத்தகங்ளைக்
                                    கேட்டு மகிழலாம். தமிழில் அரிய மூலங்கள் பல இருந்தாலும், நாம் அதனை ஆவணப்படுத்துவதில்
                                    சற்று
                                    தடுமாறுகிறோம். சமூக வலைதளங்களில் மட்டுமே நம்முடைய படைப்புகளை வெளிக்கொணர்வதும்,
                                    ஆவணப்படுத்துவதும்
                                    பெருகி வருவது வருத்தமளிக்கிறது. வளர்ந்து வரக்கூடிய தற்போதைய தொழிற்நுட்பத்தில்
                                    பிறமொழிகள் பல்வேறு
                                    வடிவங்களில் தங்களுக்கான இடத்தைப் பிடித்து ஆதிக்கத்தைச் செலுத்தி வருகின்றன.
                                    உதாரணத்திற்கு ஆங்கில
                                    மொழியில் உள்ள ஏறக்குறைய அனைத்து இலக்கியங்களும் Librivox என்ற இணையதளம் மூலம்
                                    ஒலிவடிவமாக
                                    மாற்றப்பட்டுவிட்டன. மற்ற மொழிகளைவிட தொன்மையும் சிறப்பும் வாய்ந்த தமிழ் இலக்கியங்களை
                                    தற்போதைய
                                    தொழிற்நுட்பத்தின் மூலமாக ஏதிர்காலத்தில் அனைவருக்கும் ஒலிவடிவில் கிடைக்கச் செய்வதே
                                    ஒலிபீடியாவின்
                                    முக்கிய நோக்கமாகும்.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    ஏன் ஒலிபீடியா ?
                                    <span class="fa-stack fa-2x">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <p>மக்கள் பலரும் பயன்படுத்தும் காணொளித் தளமான யூடியூப்பில் பல நூறு தமிழ்
                                    ஒலிப்புத்தகங்கள் இருந்தாலும்
                                    அவற்றில் பெரும்பாலும் Standard YouTube License என்ற உரிமையின் கீழ் இருப்பதால் அவற்றை
                                    பதிவிறக்கம்
                                    செய்து வேறு தளங்களில் பகிர்வது என்பது தடுக்கப்படுகிறது. இதனைக் கருத்தில் கொண்டு
                                    தன்னார்வலர்கள் மூலம்
                                    ஒலிபீடியாவில் வெளியிடப்படும் ஒலிப்புத்தகங்கள் அனைத்தும் கிரியேட்டிவ் காமென்ஸ் என்ற
                                    உரிமையின் கீழ்
                                    வெளியிடுகிறோம். அதாவது தாங்கள் இவ்வொலிப்புத்தகங்களை பதிவிறக்கம் செய்தும், பல்வேறு
                                    தளங்களில் பகிரவும்
                                    எந்தவொரு கட்டுப்பாடும் இல்லை. இதுதவிர இந்த ஒலிப்புத்தகங்கள் அனைத்தும் யூடியூப்
                                    மட்டுமல்லாமல் பல்வேறு
                                    பாட்காஸ்ட் தளங்களில் ( Apple, Google, Spotify போன்ற மேலும் பல) கிடைக்க
                                    வழிசெய்யப்படுகிறது. மேலும்
                                    archive.org என்ற இணையதளத்திலும் எம்பி3 வடிவில் பதிவேற்றப்படுகிறது. இதனால் ஸ்மார்ட்
                                    போன் அல்லாமல்
                                    மற்ற கைபேசிகளிலும் கருவிகளிலும் பதிவிறக்கம் செய்து கேட்கவும் பகிரவும் முடியும்.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    பங்களிப்பாளர்கள்
                                    <span class="fa-stack fa-2x">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p>......</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about section end -->
    <!-- footer -->
    <div class="container-fluid tool_section">
        <div class="container mt-2">
            

            <h4 style="text-align: center;color: #ffffff;">இயங்க உதவும் தளங்கள்</h4>
            <div class="row">
                <div class="toolIcon">
                    
                    <!-- <i class="fa fa-creative-commons" aria-hidden="true" style="font-size:2em;"></i> -->
                    <a href="https://www.gimp.org/"><img class="img-fluid editingTool" src="{{url_for('static', filename='GIMP_icon_-_gnome.svg.png')}}"
                        alt=""></a>
                    <a href="https://www.gnu.org/gnu/linux-and-gnu.en.html"><img class="img-fluid editingTool" src="{{url_for('static', filename='Gnulinux.svg.png')}}" alt=""></a>
                    <a href="https://www.audacityteam.org/"><img class="img-fluid editingTool"
                        src="{{url_for('static', filename='Audacity_Logo_With_Name.png')}}" alt=""></a>
                    <a href="https://inkscape.org/"><img class="img-fluid editingTool" src="{{url_for('static', filename='Inkscape.logo.svg.png')}}"
                        alt=""></a>
                    <a href="#"><img class="img-fluid editingTool" src="{{url_for('static', filename='Lame_logo.svg.png')}}" alt=""></a>
                    <a href="https://ffmpeg.org/"><img class="img-fluid editingTool" src="{{url_for('static', filename='FFmpeg-Logo.svg.png')}}"
                        alt=""></a>
                </div>

            </div>
        </div>
    </div>
    <!-- contact us page start -->
    <div class="container-fluid contact_section">
        <h4 class="aboutus_title">தொடர்புக்கு</h4>
        <div class="row m-5">
            <ul class="contact_icon_list">
                <li class="contact_icon"><a class="contact_refer" href="https://www.facebook.com/karaiglug/"><i class="fab fa-facebook-f"></i></span></li>
                <li class="contact_icon"><a class="contact_refer" href="https://gitlab.com/KaraiGLUG/olipedia"><i class="fab fa-gitlab"></i></a></li>
                <li class="contact_icon"><a class="contact_refer" href="http://karaiglug.herokuapp.com"><img src="{{url_for('static', filename='karaiGlugLogo.png')}}"  alt="" class="img-fluid contact_logo"></a></li>
                <li class="contact_icon"><a class="contact_refer" href="https://archive.org/"><img src="{{url_for('static', filename='Internet_Archive_logo_and_wordmark.svg.png')}}"  alt="" class="img-fluid contact_logo"></a></li>
                <li class="contact_icon"><a class="contact_refer" href="mailto:karaiglug@gmail.com"><i class="far fa-envelope"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- contact us page end -->
    <footer class="footer">
        <ul>
            <li class="audio_list"><a href="https://open.spotify.com/show/66W3J3gQLu5pl5HQ5BBNnG" target="_blank"><img
                        class="podcast_logo" src="{{url_for('static', filename='spotify.png')}}" alt=""></a></li>
            <li class="audio_list"><a
                    href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yOGIxMzdkMC9wb2RjYXN0L3Jzcw%3D%3D"
                    target="_blank"><img class="podcast_logo"
                        src="{{url_for('static', filename='google-podcasts.svg')}}" alt=""></a></li>
            <li class="audio_list"><a
                    href="https://podcasts.apple.com/us/podcast/olipedia-%E0%AE%92%E0%AE%B2-%E0%AE%AA-%E0%AE%9F-%E0%AE%AF/id1521051553"
                    target="_blank"><img class="podcast_logo" src="{{url_for('static', filename='apple.png')}}"
                        alt=""></a></li>
            <li class="audio_list"><a href="https://www.youtube.com/channel/UCG0XGCZ1XroIWdBXvtqeI2g"
                    target="_blank"><img class="podcast_logo"
                        src="{{url_for('static', filename='YouTube-Icon-Almost-Black-Logo.wine.svg')}}" alt=""></a></li>
        </ul>
    </footer>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script>
        $("#accordion").on("hide.bs.collapse show.bs.collapse", e => {
            $(e.target)
                .prev()
                .find("i:last-child")
                .toggleClass("fa-minus fa-plus");
        });

    </script>

</body>

</html>