@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }

    .navbar {
        background-color: white;
    }

    .nav-link {
        color: #999999 !important;
        font-weight: bolder !important;
    }
    .nav-item{
        padding-right: 1em;
    }
    .bookContent {
        padding: .5em;
        text-align: center;
    }
}
@media (max-width: 400px) {
  .bookContent {
    text-align: center;
  }}
/* ---------------------NAVBAR CSS ------------------------ */
.navbar-brand{
    color: #999999;
}
/* --------------------- LOGO_IMAGE CSS ---------------------- */
.logo_image{
    width: 30%;
    height:15%;
    object-fit: cover;
}
/* ------------------------ HOME CONTAINER CSS */
.homeSection{
    height:500px;
    background-color: #b30000;
}
.home_text{
    text-align: center;
    color: white;
    font-weight: 600;
}
/* ----------------- CARD CSS ------------------ */
.bookCard{
    width: 20rem;
    cursor: pointer;
    margin: 4px;
}
.bookImage{
  height: 15em;
}
.card:hover{
    border: solid 1px #CCC;
    -moz-box-shadow: 2px 2px 5px #999;
    -webkit-box-shadow: 2px 2px 5px #999;
    box-shadow: 2px 2px 5px #999;
    
}
/* --------------------- PLAYER ICON CSS -------------------*/
.player_icon{
    font-size:30px;
    color:#b30000;
    width: 1em;
    height: 1em;
    transition: transform .2s; /* Animation */
    /* margin: 0 .1em; */
}
.player_icon:hover {
    transform: scale(1.5); 
  }
  /* ---------------aboutus_title css------------- */
  #aboutus{
    margin-top: 10em;
  }
  .aboutus_title{
      color: #999999;
      text-align: center;
    font-weight: bold;
  }
/* -----------------------CONTACT CSS------------------- */
.tool_section{
    background-color: #b30000;
    color: white;
    height: 40%;
}
.contact_title{
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

/* ---------------------ADD AUDIO BUTTON CSS ---------------------*/
.addAudioButton{
            background-color: #b30000;
            color: #999999; 
            border: none;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
}

/* -------------------footer css ------------------ */
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #DC141C;
  color: white;
  text-align: center;
}
/* ----------------------audio_list css ------------------- */
.audio_list{
    display:inline;
    list-style: none;
}
/* -------------------------editingTool css ----------------- */
.editingTool{
    width:6em;
    height: 6em;
    cursor: pointer;
    margin: 3em 1em;
}
@media (max-width: 400px) {
  .editingTool {
    margin:1em 0em ;
  }}
.toolIcon{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
@media (max-width: 400px) {
  .toolIcon {
    /* display: none; */
  }}
/* -----------------------podcast_logo css ----------------- */
.podcast_logo{
    margin: .6em;  
    width:2em;
    height:2em;
    transition: transform .2s; /* Animation */
    cursor: pointer;
}
.podcast_logo:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  #more {display: none;}


  .myaccordion {
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
  }
  
  .myaccordion .card,
  .myaccordion .card:last-child .card-header {
    border: none;
  }
  
  .myaccordion .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
  }
  
  .myaccordion .fa-stack {
    font-size: 18px;
  }
  
  .myaccordion .btn {
    width: 100%;
    font-weight: bold;
    color: #b30000;
    padding: 0;
  }
  
  .myaccordion .btn-link:hover,
  .myaccordion .btn-link:focus {
    text-decoration: none;
  }
  
  .myaccordion li + li {
    margin-top: 10px;
  }

  /* pagination css */
  .pagination{
    float: right;
  }

  /* contactPageTitle css */
  .contactPageTitle{
    text-align: center;
  }

  /* contact_icon css */
  .contact_icon{
    display: inline;
    font-size: 4em;
    text-align: center;    
    margin: 0 1em;
  }
  @media (max-width: 400px) {
    .contact_icon {
      margin: 0 0 8px 0;
      text-align: center;
      display: flex;
    }}
  .contact_icon_list{
    list-style-type: none;
    margin: 0 auto;
  }
  .contact_section{
    color: #999999;
    height: 50%;
  }
  .contact_logo{
    width:2em;
    height:2em;
  }
  .contact_refer{
    color: #999999;
  }
  .contact_refer:hover{
    color: #b30000;
  }